{
"model_name": "BaseLSTM",
"vocab_path": "/data/vocab_word.big",
"label_vocab_path": "/data/label_vocab.p",
"ner_vocab_path": "/data/ner_vocab.p",
"train_dataset": "./data/train.txt",
"test_dataset": "./data/test.txt",
"train_tfrecord_path": "/train.tfrecord",
"test_tfrecord_path": "/test.tfrecord",
"output_path": "/output",
"pre_train_emb_path":"./data/w2v_ai_session_5month_output_wiki_20.pkl",
"pre_train_emb_size":300,
"use_pre_train_emb":false,
"new_pre_vocab":false,
"restore_model": "",
"seq_len": 30,
"batch_size": 64,
"num_workers": 6,
"emb_size": 300,
"layers": 200,
"hidden": 300,
"l2_reg": 0.01,
"corpus_lines": 1,
"dropout": 0.1,
"adam_beta1": 0.9,
"adam_beta2": 0.99,
"adam_weight_decay": 0.001,
"lr": 0.001,
"epochs": 32,
"sinusoid": false,
"loss": "softmax_loss",
"opt": "adam",
"use_tfrecord": true,
"new_vocab": true,
"new_label_vocab": true,
"new_tfrecord": true,
"task_name": "Intent",
"do_train": true,
"do_predict": false,
"GetEmbtype":"mean_pool",
"num_blocks":4,
"num_heads":4
}